// ExerciseDetails.scss

.exercise-details-container {
    width: 1158px;
    height: 1129px;
    position: relative;
    background: white;
    border-radius: 8px;

    .exercise-title {
        left: 0;
        top: 0;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        text-align: center;
        color: #3b3c40;
        font-size: 36px;
        font-family: "Raleway";
        font-weight: 700;
        letter-spacing: 0.2;
        word-wrap: break-word;
    }

    .thumbnail-container {
        width: 459px;
        height: 591px;
        left: 0;
        top: 106px;
        position: absolute;
        border-radius: 30px;

        .thumbnail-image {
            width: 100%;
            height: 100%;
            border-radius: 30px;
        }
    }

    .description-container {
        height: 265px;
        left: 523px;
        top: 106px;
        position: absolute;

        .description-title {
            width: 605px;
            height: 42px;
            padding-top: 1px;
            left: 0;
            top: 0;
            position: absolute;
            justify-content: flex-end;
            align-items: center;
            gap: 381px;
            display: inline-flex;
            color: #3b3c40;
            font-size: 36px;
            font-family: "Raleway";
            font-weight: 700;
            letter-spacing: 0.2;
            word-wrap: break-word;
        }

        .description-content {
            width: 635px;
            left: 0;
            top: 90px;
            position: absolute;
            color: black;
            font-size: 32px;
            font-family: "Raleway";
            font-weight: 400;
            word-wrap: break-word;
        }
    }

    .change-cover-btn {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        left: 141px;
        top: 733px;
        position: absolute;
        background: white;
        box-shadow: 0px 2px 8px rgba(231, 243, 255, 0.15);
        border-radius: 8px;
        border: 0.5px #614d8f solid;
        justify-content: center;
        align-items: center;
        gap: 8px;
        display: inline-flex;
        color: #614d8f;
        font-size: 14px;
        font-family: "Raleway";
        font-weight: 600;
        word-wrap: break-word;
    }

    .upload-btn {
        left: 853px;
        top: 680px;
        position: absolute;

        .upload-icon {
            width: 51.33px;
            height: 37.33px;
        }

        div {
            width: 113px;
            height: 40px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 12px;
            padding-bottom: 12px;
            left: 5px;
            top: 133.33px;
            position: absolute;
            background: white;
            box-shadow: 0px 2px 8px rgba(231, 243, 255, 0.15);
            border-radius: 8px;
            border: 0.5px #614d8f solid;
            justify-content: center;
            align-items: center;
            gap: 8px;
            display: inline-flex;
            color: #614d8f;
            font-size: 12px;
            font-family: "Raleway";
            font-weight: 600;
            word-wrap: break-word;
        }
    }

    .videos-container {
        height: 335.76px;
        left: 523px;
        top: 599px;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
        display: inline-flex;

        .videos-title {
            color: #614d8f;
            font-size: 24px;
            font-family: "Raleway";
            font-weight: 700;
            word-wrap: break-word;
        }

        .video-item {
            width: 266px;
            height: 275.76px;
            position: relative;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            display: flex;

            .video-thumbnail {
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }

            .play-icon {
                width: 71px;
                height: 71px;
                position: absolute;

                .inner-circle {
                    width: 59.17px;
                    height: 59.17px;
                    left: 5.92px;
                    top: 5.92px;
                    position: absolute;
                    background: white;
                }
            }
        }
    }

    .muscles-involved-container {
        height: 100px;
        left: 523px;
        top: 435px;
        position: absolute;

        .muscles-involved-title {
            left: 0;
            top: 0;
            position: absolute;
            color: #614d8f;
            font-size: 24px;
            font-family: "Raleway";
            font-weight: 700;
            word-wrap: break-word;
        }

        .muscles-list {
            width: 427px;
            height: 40px;
            left: 0;
            top: 60px;
            position: absolute;

            .muscle-item {
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 12px;
                padding-bottom: 12px;
                position: absolute;
                background: #e7f3ff;
                box-shadow: 0px 2px 8px rgba(231, 243, 255, 0.15);
                border-radius: 8px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                display: inline-flex;
                color: #614d8f;
                font-size: 14px;
                font-family: "Raleway";
                font-weight: 600;
                word-wrap: break-word;
            }

            .modify-btn {
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 12px;
                padding-bottom: 12px;
                left: 349px;
                top: 0;
                position: absolute;
                box-shadow: 0px 2px 8px rgba(231, 243, 255, 0.15);
                border-radius: 8px;
                border: 0.5px #614d8f solid;
                justify-content: center;
                align-items: center;
                gap: 8px;
                display: inline-flex;
                color: #614d8f;
                font-size: 14px;
                font-family: "Raleway";
                font-weight: 600;
                word-wrap: break-word;
            }
        }
    }

    .about-container {
        height: 148px;
        left: 0;
        top: 805px;
        position: absolute;

        .about-title {
            left: 0;
            top: 0;
            position: absolute;
            color: #614d8f;
            font-size: 18px;
            font-family: "Raleway";
            font-weight: 700;
            word-wrap: break-word;
        }

        .about-content {
            width: 320px;
            height: 95px;
            left: 0;
            top: 53px;
            position: absolute;
            text-align: justify;
            color: #9e86ff;
            font-size: 16px;
            font-family: "Raleway";
            font-weight: 500;
            word-wrap: break-word;
        }
    }
}
