.rootChats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #0d1dac;
    // background-color: #f9fbff;
    border-radius: 16px;

    width: 95%;
    height: 80vh;

    // position: relative;

    .header {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;
        // margin-bottom: 50px;
        background-color: aliceblue;

        .userImage {
            width: 3vw;
            height: 3vw;

            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .userName {
            width: 13%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-weight: 600;
                font-size: 2.5rem;
                color: #0d1dac;
            }
        }
    }

    .chatMessages {
        display: flex;
        flex-direction: column;
        // align-items: end;
        // height: 80%;
        flex-grow: 1;
        overflow: hidden;
        width: 95%;
        // margin: 0 auto;
        background-color: pink;
        overflow-y: scroll;

        .message {
            &.received {
                display: flex;

                max-width: 100%;
                margin-bottom: 20px;

                .msg {
                    background: #e4edff;
                    padding: 20px 40px;
                    max-width: 65%;
                    font-size: 20px;
                    font-weight: 500;
                    border-radius: 16px;
                }
            }

            &.sent {
                display: flex;
                justify-content: flex-end;
                max-width: 100%;
                // background-color: yellow;

                margin-bottom: 20px;

                .msg {
                    background: #e4edff;
                    padding: 20px 40px;
                    max-width: 65%;
                    font-size: 20px;
                    font-weight: 500;
                    border-radius: 16px;
                }
            }
        }
    }

    .chatInput {
        // position: fixed;
        // bottom: 50px;
        width: 77.6%;
        // height: 500px;
        margin: 0 auto;
        background-color: red;
        // background-color: white;
        border-radius: 16px;
        box-shadow: 0px 4px 8px 0px #cfdfff40;

        display: flex;
        // align-items: center;
        justify-content: center;

        .inputContainer {
            background-color: white;
            // position: fixed;
            bottom: 50px;
            // width: 1400px;
            width: 95%;
            height: 69px;
            outline: 1px solid transparent;
            border-radius: 16px;

            display: flex;
            align-items: center;

            input {
                height: 100%;
                width: 87%;
                border-radius: 16px;
                // background-color: #0177fd;
                outline: 1px solid transparent;
            }
            .sendButton {
                width: 160px;
                height: 35px;
                background-color: #f0f7ff;
                border-radius: 112px;
                border: 1px solid transparent;

                p {
                    font-size: 16px;
                    font-weight: 600;
                    color: #0177fd;
                }
            }
        }
    }
}
