.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.box .frame-wrapper {
    border: 0px none;
    height: 106px;
    width: 478px;
}

.box .frame {
    align-items: center;
    background-color: #e7f3ff;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 16px;
    display: flex;
    gap: 135px;
    justify-content: center;
    left: 0;
    padding: 20px 36px;

    top: 0;
    width: 480px;
}

.box .group {
    height: 66px;
    min-width: 173.11px;
    position: relative;
}

.box .group-wrapper {
    height: 66px;
    width: 173px;
}

.box .div {
    height: 66px;
    position: relative;
}

.box .fiona-profile-image {
    height: 66px;
    border-radius: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 69px;
}

.box .div-wrapper {
    height: 17px;
    left: 110px;
    position: absolute;
    top: 25px;
    width: 63px;
}

.box .group-2 {
    height: 17px;
    position: relative;
    width: 65px;
}

.box .text-wrapper {
    color: #0c1cac;
    font-family: "Raleway-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.box .frame-2 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #361f69;
    border-radius: 40px;
    display: flex;
    gap: 8px;
    height: 35.83px;
    justify-content: center;
    padding: 12px 24px;
    position: relative;
    width: 94.1px;
}

.box .text-wrapper-2 {
    color: #361f69;
    font-family: "Raleway-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -0.09px;
    margin-left: -0.45px;
    margin-right: -0.45px;
    margin-top: -2.09px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}
