.chart {
    width: 1300px;
    padding: 30px 50px 0px 50px;
    border-radius: 25px;

    box-shadow: 0px -3.809999942779541px 7.621301651000977px 0px #3b5fc640;
    box-shadow: 0px 3.809999942779541px 7.619999885559082px 0px #3b5fc640;

    border: 0.2px solid #d2c7ff33;

    .header {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;

        .title {
            font-size: 23px;
            font-weight: 600;
            letter-spacing: 0em;
            color: #2b4ab6;
        }

        .button {
            box-shadow: 0px -3.809999942779541px 7.621301651000977px 0px #3b5fc640;

            box-shadow: 0px 3.809999942779541px 7.619999885559082px 0px
                #3b5fc640;

            width: auto;
            height: auto;
            padding: 10px 25px;
            border-radius: 22.86px;

            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: 17px;
                font-weight: 600;
                color: #2b4ab6;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}
